<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear">
	  <ion-back-button text="" icon="arrow-back"></ion-back-button>
	</ion-button>
    <ion-title>SEGURANÇA</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="conteudo">
  <ion-button expand="full" fill="outline">
	Dispositivos conectados
	<ion-icon name="arrow-forward"></ion-icon>
  </ion-button>
  <ion-button expand="full" fill="outline">
	Senha adicional
	<ion-icon name="arrow-forward"></ion-icon>
  </ion-button>
</ion-content>
