<ion-header class="header">
  <ion-toolbar>
    <ion-button slot="start" fill="clear">
	  <ion-back-button text="" icon="arrow-back"></ion-back-button>
	</ion-button>
    <ion-title>CONFIGURAÇÕES</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="conteudo">
  <ion-button expand="full" fill="outline">
	Gerenciar notificações
	<ion-icon name="arrow-forward"></ion-icon>
  </ion-button>
  <ion-button expand="full" fill="outline">
	Sobre esta versão
	<ion-icon name="arrow-forward"></ion-icon>
  </ion-button>
  <ion-button expand="full" fill="outline">
	Limpar Histórico de busca
  </ion-button>
</ion-content>