<ion-content class="conteudo">
  <br><br><br><br><br>
  <ion-button expand="full" color="#fdb302" (click)="abrirNotifica()">
	<ion-icon name="notifications-sharp"></ion-icon>
	Notificações
  </ion-button>
  <ion-button expand="full" color="#fdb302" (click)="abrirMeusDados()">
	<ion-icon name="person-circle"></ion-icon>
	Meus Dados
  </ion-button>
  <ion-button expand="full" color="#fdb302" (click)="abrirAjuda()">
	<ion-icon name="information-circle-outline"></ion-icon>
	Ajuda
  </ion-button>
  <ion-button expand="full" color="#fdb302" (click)="abrirConfig()">
	<ion-icon name="build"></ion-icon>
	Configurações
  </ion-button>
  <ion-button expand="full" color="#fdb302" (click)="abrirSeguranca()">
	<ion-icon name="shield"></ion-icon>
	Segurança
  </ion-button>
  <ion-button expand="full" color="#fdb302" (click)="sair()">
	<ion-icon name="exit"></ion-icon>
	Sair
  </ion-button>
</ion-content>
