<ion-header>
  <ion-toolbar>
      <ion-back-button slot="start" fill="clear" text="" icon="arrow-back"></ion-back-button>
    <ion-title>MEUS DADOS</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="conteudo">
  <ion-button expand="full" class="btn"  (click)="abrirInfoPessoal()">
    Informações pessoais
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-button>
  <ion-button expand="full" class="btn">
    Dados de contato
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-button>
  <ion-button expand="full" class="btn">
    Credenciais
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-button>
</ion-content>