<ion-content class="conteudo">
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button (click)="voltarInicio()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-img *ngIf="produto?.urlImg" [src]="produto.urlImg"></ion-img>
  <!--
  <ion-img
    [src]="'https://s2.glbimg.com/cuwJDWABYcstdo7va4XbrK8H1Tc=/0x0:615x390/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_b3309463db95468aa275bd532137e960/internal_photos/bs/2021/F/E/NoF3FPQeywcforRuz9GA/madero.jpg'">
  </ion-img>
  -->
  <ion-list>
    <ion-item>
      <ion-label class="descricaoProduto">
        {{nome}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="descricaoProduto">

        {{descricao}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="preco">

        A partir de <b>R$ {{preco}}</b>

      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
<div class="footer">
  <ion-label class="adicionar">
    <ion-button size="small" (click)="subtrai()">
      <ion-icon name="remove-outline"></ion-icon>
    </ion-button>
    <ion-label class="a"> {{qtde}} </ion-label>
    <ion-button size="small" (click)="adiciona()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </ion-label>
  <ion-button class="btnAdd" (click)="addCarrinhoPedido()">Adicionar R$ {{strTotal}}</ion-button>
</div>
